---
import Banner from '../components/Banner.astro';
---


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Banner />
      <ul>
	<li><a href="#">Shoulder</a></li>
	<li><a href="#">Tricep</a></li>
	<li><a href="#">Bicep</a></li>
	<li><a href="#">Forearm</a></li>
	<li><a href="#">Wrist</a></li>
	<li><a href="#">Hand</a></li>
      </ul>
  </body>
</html>
