---
import Banner from '../components/Banner.astro';
import { getCollection } from 'astro:content';

const valid_tags = ['upper-chest', 'lower-chest']
const stretches = await getCollection('stretches', ({ data }) => {
  return data.targets.filter(target => valid_tags.includes(target))
});

---


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Banner />
    <h2>Upper Chest</h2>
    <ul>
      {stretches.filter(stretch=>stretch.data.targets.includes('upper-chest')).map(stretch => (
        <li><a href={`/stretch-rx/stretch/${stretch.id}`}>{stretch.data.title}></a></li>
      ))}
    </ul>
    <h2>Lower Chest</h2>
    <ul>
      {stretches.filter(stretch=>stretch.data.targets.includes('upper-chest')).map(stretch => (
        <li><a href={`/stretch-rx/stretch/${stretch.id}`}>{stretch.data.title}></a></li>
      ))}
    </ul>
  </body>
</html>
