---
import Banner from '../components/Banner.astro';
---


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Banner />
    <p> Welcome to Stretch-Rx, an easily accesible library of stretches targeting specific muscle groups.</p>
      <ul>
	<li><a href="/stretch-rx/back/">Back</a></li>
	<li><a href="/stretch-rx/chest/">Chest</a></li>
	<li><a href="#">Core</a></li>
	<li><a href="/stretch-rx/arms/">Arms</a></li>
	<li><a href="/stretch-rx/legs/">Legs</a></li>
      </ul>
  </body>
</html>
