---
import Banner from '../components/Banner.astro';
---


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Banner />
      <ul>
	<li><a href="#">Hamstring</a></li>
	<li><a href="#">Quad</a></li>
	<li><a href="#">Calf</a></li>
	<li><a href="#">Shin</a></li>
	<li><a href="#">Foot</a></li>	
      </ul>
  </body>
</html>
